---
layout: single
---

{% assign has_meta = page.source.person or page.portions or page.prep_time_minutes or page.cook_time_minutes %}

{% if has_meta %}
<div class="recipe-details">
  <ul class="recipe-meta-list">

    {% if page.source.person %}
    <li><strong>Source :</strong> {{ page.source.person }}</li>
    {% endif %}

    {% if page.prep_time_minutes %}
    <li><strong>Préparation :</strong> {{ page.prep_time_minutes }} min</li>
    {% endif %}

    {% if page.cook_time_minutes %}
    <li><strong>Cuisson :</strong> {{ page.cook_time_minutes }} min</li>
    {% endif %}

    {% if page.portions %}
    <li><strong>Portions :</strong> {{ page.portions }}</li>
    {% endif %}

  </ul>
</div>
{% endif %}

{{ content }}
